<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="content-language" content="en-AU" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/screen.css" media="screen" />
    {% block extra_style %}{% endblock %}
    {% block extra_javascript %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="container">
    <div id="header"></div>
    <div id="content">{% block content %}{% endblock content %}
        <br class="clear" />
        </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
{% block final_javascript %}{% endblock %}
</body>
</html>
