{% extends "small_dms/base.html" %}
{% load already %}
{% load dms %}

{% block extra_javascript %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript" src="/media/js/jquery.form.js"></script>
{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" type="text/css" href="/media/css/jquery.lightbox-0.5.css" media="screen" />
{% endblock %}

{% block final_javascript %}
<script type="text/javascript">
$(function() {
    $('a.preview').lightBox();
    $(".send").attr('href', '#');
    });
</script>
{% endblock %}

{% block content %}
<div class="document-list">
{% include "django_dms/list.html" %}

{% for item in object_list %}
<script type="text/javascript">
    $("#send_{{ forloop.counter }} a").click(function(){
        $('#send_{{ forloop.counter }}').load('{% dms_url dms_site document_send_ajax item.document %}').addClass('subtle');
        return false
        });
</script>
{% endfor %}
</div>
{% endblock content %}
